[run]
branch = True
omit =
    *virtualenv*
    ./docs/*
    ./foursight_core/deploy.py
    ./tests/*
    conftest.py
    ./foursight_core/app.py
    ./foursight_core/chalicelib/abstract_connection.py
    ./foursight_core/chalicelib/checks/helpers/*
    ./foursight_core/chalicelib/*_checks.py
    ./foursight_core/chalicelib/templates/*
