    .html-scroll {
        overflow-y: scroll;
    }
    .container {
        max-width: 1900px;
        padding-top: 10px;
    }
    .control-form {
        display: inline;
        margin-right: 20px;
        margin-top: -8px;
    }
    .boxstyle {
        border: 1px solid #ccc;
        margin-bottom: 5px;
        border-radius: 8px;
        padding: 2px 10px 2px 10px;
    }
    .group-boxstyle {
        border: 1px solid #ccc;
        margin-bottom: 5px;
        border-radius: 8px;
        padding: 0px 0px 0px 0px;
        background-color: #f8f8f8;
    }
    .group-boxstyle:hover {
        background-color: #f2f2f2;
    }
    .login-w-hover {
        border: 1px solid #ccc;
        border-radius: 8px;
        background-color: #f8f8f8;
        font-weight: 350;
    }
    .login-w-hover:hover {
        background-color: #d9d9d9;
    }
    .commonstyle {
        margin: 0px 10px 5px 10px;
    }
    .collapse-div{
        overflow: hidden;
        clear: both;
    }
    .own-line {
        display: block;
    }
    .in-line{
        display: inline-block;
    }
    .action-icon {
        height: 11px;
        width: 11px;
        border-radius: 50%;
        display: inline-block;
    }
    .assc-action-done {
        background-color: #55aa57;
    }
    .assc-action-fail {
        background-color: #b84947;
    }
    .assc-action-pend {
        background-color: #e7c418;
    }
    .assc-action-ready {
        background-color: #b6b5b5;
    }
    .info {
        background-color: #D6EAF8;
        color: #263A48;
    }
    .check-pass, .check-done {
        background-color: #dff0d8;
        color: #3c763d;
    }
    .check-warn, .check-pend {
        background-color: #fcf8e3;
        color: #8a6d3b;
    }
    .check-fail {
        background-color: #f2dede;
        color: #a94442;
    }
    .check-error {
        background-color: #fbdcbd;
        color: #b75c00;
    }
    .check-ignore {
        display: none;
    }
    .center-element {
        text-align: center;
    }
    .opacity-transition {
        -webkit-transition: opacity 0.5s;
        transition: opacity 0.5s;
    }
    .title-image-hover, .title-image-hover:visited, .title-image-hover:active {
        text-decoration: none;
        opacity: 0.7;
    }
    .title-image-hover:hover, .title-image-hover:focus {
        text-decoration: none;
        opacity: 1.0;
    }
    .title-hover, .title-hover:visited, .title-hover:active {
        color: inherit;
    }
    .title-hover:hover, .title-hover:focus{
        text-decoration: none;
        color: #000;
    }
    .top-level-list {
        padding: 0px;
    }
    .no-border {
        border: none;
    }
    dl {
        margin-bottom: 0px;
    }
    dd {
        margin-left: 20px;
        margin-bottom: 5px;
    }
    .dropdown-button {
      background-color: inherit;
      color: inherit;
      border: none;
      cursor: pointer;
    }
    .dropdown {
      position: relative;
      display: inline-block;
    }
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: inherit;
      min-width: 160px;
      width: fit-content; /* not working */
      box-shadow: 10px 10px 10px #476f86;
      z-index: 1;
    }
    .dropdown-content a {
      text-align: left;
      color: inherit;
      background-color: inherit;
      padding: 4px 80px 4px 8px;
      text-decoration: none;
      display: block;
    }
    .dropdown-content span {
      text-align: left;
      color: black;
      padding: 4px 80px 4px 8px;
      text-decoration: none;
      display: block;
      cursor: default;
    }
    .dropdown-content a:hover {background-color: #365e75; color:yellow; cursor:pointer;}
    .dropdown-content span:hover {color:blue;}
    .dropdown:hover .dropdown-content {display: block;}
    .dropdown:hover .dropdown-button {color: black;}

.check-box {
    filter: brightness(0.95);
    background-color: #dff0d8;
    color: #3c763d;
}
.check-box:hover {
    filter: brightness(1.05);
}

.check-run-button {
   border: 1px solid lightgreen;
   border-radius: 12px;
   padding-left: 8pt;
   padding-top: 2pt;
   padding-bottom: 3pt;
   padding-right: 12pt;
   background: #4F7942;
   color: #FFFFFF;
   cursor: pointer;
   user-select: none;
}
.check-run-button:hover {
    color: yellow;
    background: darkgreen;
}
.check-run-button:active {
    color: red;
    background: yellow;
}
.check-run-wait-button {
   border: 1px solid lightgreen;
   border-radius: 12px;
   padding-left: 8pt;
   padding-top: 2pt;
   padding-bottom: 3pt;
   padding-right: 12pt;
   background: #4F7942;
   color: yellow;
   cursor: not-allowed;
   user-select: none;
}
.check-config-button {
   border: 1px solid darkgreen;
   border-radius: 12px;
   padding-left: 8pt;
   padding-top: 2pt;
   padding-bottom: 3pt;
   padding-right: 12pt;
   background: inherit;
   color: inherit;
   cursor: pointer;
   user-select: none;
}
.check-config-wait-button {
   border: 1px solid darkgreen;
   border-radius: 12px;
   padding-left: 8pt;
   padding-top: 2pt;
   padding-bottom: 3pt;
   padding-right: 12pt;
   background: inherit;
   color: inherit;
   cursor: not-allowed;
   user-select: none;
}

/* https://blog.logrocket.com/creating-beautiful-tooltips-with-only-css */
.tool-tip {
  position: relative; /* making the .tool-tip span a container for the tool-tip text */
}
.tool-tip:before {
  content: attr(data-text);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 100%;
  margin-left: 15px;
  min-width: 200px;
  width: fit-content;
  padding-left: 15px;
  padding-right: 10px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 10px;
  background: black;
  color: white;
  text-align: left;
  display: none;
  font-family: tahoma;
  font-size: 10pt;
  font-weight: normal;
  font-style: italic;
  z-index: 99;
}
.tool-tip:hover:before {
  display: block;
  z-index: 99;
}
.tool-tip.left:before {
  left: initial;
  margin: initial;
  right: 100%;
  margin-right: 15px;
  z-index: 99;
}
.tool-tip:after {
  z-index: 99;
  content: "";
  position: absolute;
  left: 100%;
  margin-left: -2px;
  top: 50%;
  transform: translateY(-50%);
  border: 10px solid #000;
  border-color: transparent black transparent transparent;
  display: none;
}
.tool-tip:hover:before, .tool-tip:hover:after {
  display: block;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@font-face {
   font-family: 'Sansation Bold';
   src: url(https://allfont.ru/cache/fonts/sansation-bold_1ed7ffb329f73655e972f658a6514075.ttf);
}
.title-font {
   font-family: 'Sansation Bold', 'Arial';
}

/* This was the only way found to get rid of margin around react-paginate control. */
.pagination-control * {
    margin: 0;
}

/* New */

:root {
    --foursight-fourfront-box-bg:#DDFFEE;
    --foursight-fourfront-box-fg:#09430C;
    --foursight-cgap-box-bg:#DDEEFF;
    --foursight-cgap-box-fg:#000069;
    --box-fg:var(--foursight-fourfront-box-fg);
    --box-bg:var(--foursight-fourfront-box-bg);
}

.box {
    background: var(--box-bg);
    color: var(--box-fg);
    /* border-radius: 6px; */
    border-radius: 0px 10px 10px 10px;
    border: 1px solid var(--box-fg);
    padding: 0.6em 1.0em;
    vertical-align: middle;
}
.box.cell {
    display: table-cell;
}
.box.noborder {
    border: 0;
}
.box.thickborder {
    border: 2px solid var(--box-fg);
}
.box.lighten {
    background: var(--box-bg-lighten);
}

.bg {
    background: var(--box-bg);
}
.fgbg {
    background: var(--box-fg);
}
.fg {
    color: var(--box-fg);
}

.td {
    padding-right: 8pt;
    padding-bottom: 4pt;
    vertical-align: top;
    color: inherit;
}
.td.thin {
    width: 1%;
}

ul {
    padding-left: 12pt;
}

.input {
    margin-left: 0;
    height: 14pt;
    width: 30em;
    background: var(--box-bg-lighten);
    border-radius: 4px;
    border: 1px solid gray;
    padding: 0.7em 0.3em;
}
.input:focus {
    outline: none;
    border:1px solid var(--box-fg);
    box-shadow: 0 0 2px var(--box-fg);
}
.input::placeholder {
    font-style: italic;
    opacity: .4;
}
.input:read-only {
    border: 0;
    box-shadow: 0 0 1px var(--box-fg);
    background: var(--box-bg);
    outline: none;
}

.button {
    border: 1px solid green;
    background: var(--box-fg);
    color: var(--box-bg);
    padding: 0.1em 0.4em 0.25em 0.4em;
    border-radius: 6px;
    min-width: 4em;
}
.button:active {
    background: yellow;
    color: red;
}
.button:disabled {
    background: gray;
    color: white;
    cursor: not-allowed;
}
.button.cancel {
    background: var(--box-bg);
    color: var(--box-fg);
    filter: brightness(1.02);
}
.button.cancel:active {
    background: yellow;
    color: red;
}
.button.delete {
    background: red;
    color: yellow;
}
.button.delete:active {
    background: yellow;
    color: red;
}
.select {
    background: var(--box-bg-lighten);
    border-radius: 3px;
}

/* This gets rid of extra vertical space introduced normally, for some reason, on forms */
form {
    display:inline;
}
