{% extends "header.html" %}

{% block content %}
<br />
<div class="info boxstyle">
    <table style="width:100%;">
        <tr style="border-bottom:2px solid darkblue;">
            <td style="padding:10px;font-weight:bold;width:20%">
                User
            </td>
            <td style="font-weight:bold;width:20;">
                Roles
            </td>
            <td style="font-weight:bold;width:60%;">
                Modified
            </td>
        </tr>
        {% for user in users %} <tr style="border-bottom:1px solid gray;">
            <td style="border-bottom:1px solid gray;padding:10px;">
                <a href="{{context + 'view/' + env + '/user/' + user['email_address']}}"><b>{{user['email_address']}}</b></a> <br />
                {{user['first_name']}} {{user['last_name']}} <br />
                <small id="{{user['uuid']}}" onclick="copy_to_clipboard(this.id);" style="cursor:copy;">{{user['uuid']}}</small>
            </td>
            <td style="padding:10px;vertical-align:top;">
                TODO
            </td>
            <td style="padding:10px;vertical-align:top;">
                {{user['modified']}}
            </td>
        </tr> {% endfor %}
    </table>
</div>
{% endblock %}
